<div class="container mypage">
<section class="mypage-body">
    <% if current_user.id == params[:id].to_i %>
        <h1 class="mypage-title">ヒヤリとしましたか？<br>おかえりなさい、<%= @user.name %>さん</h1>
        <div class="profile">
            <p><%= "#{@user.gender}、#{@user.age}歳 #{@user.job}をしています。" %><p>
        </div>
        <div class="edit-link">
            <%= link_to("ヒヤラー情報編集", edit_user_registration_path(@user), class: "btn btn-warning mypage-edit") %>
        </div>
        <div class="my-posts clearfix">
            <h2 class="past"><%= @user.name %>が過去に投稿した体験</h2>
            <% @posts.each do |post| %>
                <div class="item">
                    <%= link_to("#{post.title}", post_path(post)) %>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="hiyara">
            <h1 class="user-info">ヒヤラー情報</h1>
            <p><%= "#{@user.name}は、ヒヤラー第#{@user.id}人目です" %></p>
            <p><%= "#{@user.name}の過去の投稿はこちら" %></p>
        </div>
        <% @posts.each do |post| %>
            <div class="container">
                <div class="item">
                    <%= link_to("#{post.title}", post_path(post)) %>
                </div>
            </div>
        <% end %>
    <% end %>
</section>
</div>