<!DOCTYPE html>
<html>
  <head>
    <title>Hiyari</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partial/navbar" %>
    <%= yield %>
    <%# toastrの設定 %>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert','error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

  </body>
  <footer><p>&copy; Hiyari</p></footer>
</html>
